<%= form_with(model: dream) do |f| %>
  <%= render "shared/errors" %>

  <div class="mb-3">
    <%= f.label "What was your dream about?", class: "form-label" %>
    <%= f.text_field :title, class: "form-control", autofocus: true %>
  </div>

  <div class="mb-3">
    <%= f.label "Please write as much as you can about your dream", class: "form-label" %>
    <%= f.text_area :body, rows: 8, class: "form-control" %>
  </div>

  <div class="mt-4">
    <% if dream.new_record? %>
      <%= f.submit "Log Dream", class: "btn btn-primary" %>
    <% else %>
      <%= f.submit "Update Dream",
                   data: {turbo_frame: "_top" },
                   class: "btn btn-primary" %>
    <% end %>

    <%= link_to "Back", dreams_path, class: "btn btn-success" %>
  </div>
<% end %>
