<div class="container py-5">
  <%= form_with(model: @dream) do |f| %>
    <%# Render error here %>

    <div class="mb-3">
      <%= f.label "What was your dream about?", class: "form-label" %>
      <%= f.text_field :title, class: "form-control", autofocus: true %>
    </div>

    <div class="mb-3">
      <%= f.label "Please write as much as you can about your dream", class: "form-label" %>
      <%= f.text_area :body, rows: 8, class: "form-control" %>
    </div>

    <%= f.submit "update dream", class: "btn btn-primary" %>
  <% end %>
</div>
