<section class="container">
  <% if @dates.present? %>
    <div class="text-center">
      <h3><%= @current_date.strftime("%B %Y").upcase %></h3>

      <div class="d-flex gap-4 justify-content-center mb-5">
        <% @dates.each do |date| %>
          <%= link_to date.strftime("%d"), dreams_path(date:), class: "btn btn-#{@current_date == date ? 'success' : 'secondary'}" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <h1 class="mb-4 text-center" id="heading"><%= Dream.today.empty? ? "No dreams logged for today" : "Your dreams today" %></h1>

  <ul class="list-group mb-5">
    <%= turbo_frame_tag "dreams" do %>
      <%= render @dreams %>
    <% end %>
  </ul>

  <div class="text-center">
    <%= link_to "Log Dream",
                new_dream_path,
                data: { turbo_frame: dom_id(Dream.new) },
                class: "btn btn-primary" %>
  </div>

  <%= turbo_frame_tag Dream.new %>
</section>
