<section class="container">

  <% if @days.present? %>
    <ul class="d-flex gap-4 flex-wrap">
      <% @days.each do |day| %>
        <li class="btn btn-secondary"><%= day %></li>
      <% end %>
    </ul>
  <% end %>

  <% if @dreams.present? %>
    <h1 class="mb-5">Your dreams today</h1>

    <ul class="list-group mb-5">
      <%= turbo_frame_tag "dreams" do %>
        <%= render @dreams %>
      <% end %>
    </ul>
  <% else %>
    <h1 class="text-gray mb-5">No dreams logged for today</h1>
  <% end %>

  <%= link_to "Log Dream",
              new_dream_path,
              data: { turbo_frame: dom_id(Dream.new) },
              class: "btn btn-primary" %>

  <%= turbo_frame_tag Dream.new %>
</section>
